<div class="job">
  <% @jobs.each do |job| %>
  <h1><%= link_to job.title, job %></h1>
  <p><%= job.company.name %></p>
  <p><%= job.location %></p>
  <% if job.featured? %>
  <p><strong>Destaque</strong></p>
  <% end %>
  <% end %>
</div>

<section class="companies">
  <ul>
    <% @companies.each do |company| %>
    <li><%= link_to company.name, company %></li>
    <% end %>
  </ul>
</section>
