body{
  font-family: sans-serif;
  margin-left: 20px;
}

hr {
  width: 80%;
  margin-left: 0;
}

label {
  display: inline-block;;
  width: 100px;
}

.field_with_errors{
  display: inline-block;
  color:red;
}

.error{
  color:red;
}
